.SearchScreen {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#input {
  margin-top: 20px;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.ford {
  width: 800px;
}

.submitButton {
  cursor: pointer;
}

.dep,
.des,
.battery {
  text-align: left;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.battery && label {
  width: 100px;
  text-align: center;
}
