.SearchScreen {
  text-align: center;
  align-items: center;
}

.searches {
  align-items: center;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.dep, .des, .battery {
  text-align: left;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.battery && label {
  width: 100px;
  text-align: center;
}





