.map {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin-right: 3%;
}

.spotify {
}

.EvTrip {
  margin-left: 3%;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerCol {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chargeButton {
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/img/repeated-square.png) repeat 0 0;
}
