.map {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  margin-left: 60px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.wind {
  padding-left: 30px;
  padding-top: 20px;
  width: 55px;
}

.tailwind {
  padding-left: 20px;
  padding-top: 25px;
  font-weight: bold;
}

.tripDetails {
  margin-top: 0px;
}

.degrees {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  width: 100px;
}

.details {
  margin-right: 3%;
}

.spotify {
}

.EvTrip {
  margin-left: 3%;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerCol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chargeButton {
  width: 300px;
  margin: 0px;
}

#tripStatus {
  font-weight: 800;
  color: red;
}

.evChargeButton {
  width: 120px;
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/img/repeated-square.png) repeat 0 0;
}
