.map {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin-right: 10%;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
